<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:insert="~{navigation::head}"></div>
<title>文章 | Wangjh Blog</title>
<link rel="stylesheet" href="/css/editormd.preview.css"/>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/editormd.js"></script>
<script src="/js/lib/marked.min.js"></script>
<script src="/js/lib/prettify.min.js"></script>
<script src="/js/blog.js"></script>
<body>
<div th:insert="~{navigation::navition}"></div>
<div th:insert="~{navigation::userCard}"></div>
<div class="am-g am-g-fixed blog-g-fixed">
    <div class="col-md-8">
        <!-- 标题 -->
        <div>
            <h1 th:text="${article.getArticleTitle()}" style="text-align: center"></h1>
        </div>
        <hr class="am-article-divider blog-hr">
        <!-- 内容 -->
        <div id="article-markdown-view">
            <!-- Server-side output Markdown text -->
            <textarea style="display:none;" th:text="${article.getArticleContent()}"></textarea>
        </div>
        <script type="text/javascript">
            $(function () {
                editormd.markdownToHTML("article-markdown-view", {
                    // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                    // htmlDecode : true,  // Enable / disable HTML tag encode.
                    // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                });
            });
        </script>
        <div id="like" class="am-btn-group" onclick="like(this)" th:data-articleId="${article.getId()}">
            <div class="am-btn am-round" style="border-color: #ea6f5a;background-color: white;font-size: 17px">
                <div class="col-sm-8">
                    <i class="am-icon-heart-o" style="color: #ea6f5a"></i>   <span style="color: #ea6f5a">喜欢</span>
                </div>
                <div class="col-sm-4" style="border-left: 1px solid;color: #ea6f5a" th:text="${article.getLikes()}"></div>
            </div>
        </div>
        <hr class="am-article-divider blog-hr">
        <div>
            <div th:if="${session.user==null}">
                <div style="border-style: double; border-color: dodgerblue; border-width: thin; height: 120px;
                    margin: 15px 0;">
                    <a href="/login">登录</a>后才可以评论哟~
                </div>
            </div>
            <div class="am-form-group" th:if="${session.user!=null}">
                <label for="comment_content"></label>
                <input type="hidden" id="article_id" th:value="${article.getId()}">
                <textarea class="col-md-12" rows="5" id="comment_content" name="comment_content"
                          style="border-color: dodgerblue"></textarea>
                <button th:if="${session.user==null}" type="button" class="am-btn am-btn-primary am-btn-xs am-fr"
                        disabled="disabled">发表评论
                </button>
                <button th:if="${session.user!=null}" type="submit" style="margin: 15px 0;"
                        class="am-btn am-btn-secondary am-btn-xs am-fr" onclick="postComment()">
                    发表评论
                </button>
            </div>
        </div>
        <div class="col-md-12" style="padding: 0;">
            <article class="am-comment" th:each="comment:${comments}"> <!-- 评论容器 -->
                <a href="">
                    <img class="am-comment-avatar"
                         th:src="${comment.getUser().getAvatarImgUrl()!=null?comment.getUser().getAvatarImgUrl():'/images/avatar.png'}"/> <!--
                     评论者头像
                     -->
                </a>
                <div class="am-comment-main"> <!-- 评论内容容器 -->
                    <header class="am-comment-hd">
                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                        <!-- 评论元数据 -->
                        <div class="am-comment-meta">
                            <!-- 评论者 -->
                            <a href="#link-to-user" class="am-comment-author" th:text="${comment.getAnswererUsername()}"
                               style="color: deepskyblue;"
                            ></a>
                            <time th:text="${#dates.format(comment.getCommentDate(), 'yyyy-MM-dd HH:mm:ss')}"
                                  class="am-fr"></time>
                        </div>
                    </header>
                    <!-- 评论内容 -->
                    <div class="am-comment-bd" th:text="${comment.getCommentContent()}"></div>
                    <hr class="am-article-divider blog-hr">
                    <!-- 显示二级评论 -->
                    <article class="am-comment" th:each="reply:${replies}"
                             th:if="${comment.getId()==reply.getParentId()}"
                             style="margin: 0 10px;">
                        <!-- 评论容器 -->
                        <a href="">
                            <img class="am-comment-avatar"
                                 th:src="${reply.getUser().getAvatarImgUrl()!=null?reply.getUser().getAvatarImgUrl():'/images/avatar.png'}"/>
                            <!-- 评论者头像 -->
                        </a>
                        <div class="am-comment-main"> <!-- 评论内容容器 -->
                            <header class="am-comment-hd">
                                <!--<h3 class="am-comment-title">评论标题</h3>-->
                                <!-- 评论元数据 -->
                                <div class="am-comment-meta">
                                    <!-- 评论者 -->
                                    <a href="#link-to-user" class="am-comment-author"
                                       th:text="${reply.getAnswererUsername()}"
                                       style="color: deepskyblue;"
                                    ></a>
                                    <time th:text="${#dates.format(reply.getCommentDate(), 'yyyy-MM-dd HH:mm:ss')}"
                                          class="am-fr"></time>
                                </div>
                            </header>
                            <!-- 评论内容 -->
                            <div class="am-comment-bd" th:text="${reply.getCommentContent()}"></div>
                        </div>
                        <hr class="am-article-divider blog-hr">
                    </article>
                    <!-- 二级评论回复框 -->
                    <section data-am-widget="accordion" class="am-accordion am-accordion-basic"
                             data-am-accordion='{ "multiple": true }'>
                        <dl class="am-accordion-item">
                            <dt class="am-accordion-title"
                                style="color: darkgrey;font-size: 12px;font-weight: bolder;margin-top: -30px;">回复
                            </dt>
                            <dd class="am-accordion-content am-collapse">
                                <div class="am-form-group" th:if="${session.user!=null}">
                                    <label for="comment_content"></label>
                                    <!-- 被回复者 id -->
                                    <input type="hidden" id="respondent_id" th:value="${comment.getAnswererId()}">
                                    <textarea th:id="${'reply-'+comment.getId()}" class="col-md-11"
                                              style="border-color: dodgerblue"></textarea>
                                    <span class="col-md-1">
                                        <button th:if="${session.user!=null}" type="submit"
                                                class="am-btn am-btn-secondary am-btn-xs"
                                                style="margin: 10px -3px 0"
                                                onclick="postReply(this)" th:data-id="${comment.getId()}">
                                        回复
                                    </button>
                                    </span>
                                </div>
                            </dd>
                        </dl>
                    </section>
                </div>
                <hr class="am-article-divider blog-hr">
            </article>
        </div>
    </div>
</div>

<footer class="blog-footer">
    <p>blog template<br/>
        <small>© Copyright XXX. by the AmazeUI Team.</small>
    </p>
</footer>

<script src="/js/zepto.min.js"></script>
<script src="/js/amazeui.min.js"></script>
</body>
</html>