<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>博客分类 | Wangjh Blog</title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--    <link rel="icon" type="image/png" href="/i/favicon.png">-->
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/blog.js"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<div th:insert="~{admin-common::header}"></div>
<div class="am-cf admin-main">
    <div th:insert="~{admin-common::sidebar}"></div>
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">分类</strong> /
                <small>Categories</small>
            </div>
        </div>
<!--        <div class="am-g">-->
<!--            <div class="col-md-3 am-cf am-fr">-->
<!--                <div class="am-fr">-->
<!--                    <div class="am-input-group am-input-group-sm">-->
<!--                        <input type="text" class="am-form-field">-->
<!--                        <span class="am-input-group-btn">-->
<!--                  <button class="am-btn am-btn-default" type="button">搜索</button>-->
<!--                </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="am-g">
            <div class="col-sm-12">
                <span th:each="category:${categories}">
                    <a th:text="${category.getName()}" th:href="@{'/admin/category/'+${category.getId()}}"
                       class="am-icon-folder" style="margin: 5px"></a>
                </span>
                <hr>
            </div>
            <div class="col-sm-12">
            </div>
        </div>
    </div>
</div>
<footer>
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>
<script src="/js/zepto.min.js"></script>
<script src="/js/amazeui.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
