<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{navigation::head}"></div>
<title>首页 | Wangjh Blog</title>
<link rel="stylesheet" href="/css/editormd.preview.css"/>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/editormd.js"></script>
<script src="/js/lib/marked.min.js"></script>
<script src="/js/lib/prettify.min.js"></script>
<body>
<div th:insert="~{navigation::navition}"></div>
<div th:insert="~{navigation::userCard}"></div>
<div class="am-g am-g-fixed blog-g-fixed">
    <div class="col-md-9">
        <div class="am-panel am-panel-default" th:each="article:${paginationDTO.getData()}">
            <div class="am-panel-bd">
                <article class="">
                    <h4 class="am-article-title blog-title">
                        <a th:text="${article.getArticleTitle()}" th:href="@{'/article/'+${article.getId()}}"
                           style="font-size: 24px; color: #7f7f7f;" target="_blank"></a>
                    </h4>
                    <span class="am-badge am-badge-success" th:text="${article.getArticleType()}"></span>
                    <span class="am-icon-calendar" style="color: #7f7f7f;"
                          th:text="${#dates.format(article.getPublishDate(), 'yyyy-MM-dd')}"></span>
                    <span class="am-icon-user" style="color: #7f7f7f;" th:text="${article.getAuthor()}"></span>
                    <span class="am-icon-folder" style="color: #7f7f7f;"
                          th:text="${article.getArticleCategories()}"></span>
                    <div class="am-g col-sm-12">
                        <div th:text="${article.getArticleTabloid()}"
                             style="font-size: 16px;padding: 10px 8px;line-height: 2em;color: #565a5f"></div>
                        <!--                        <div id="article-view">-->
                        <!--                            <textarea style="display:none;" th:text="${article.getArticleContent()}"></textarea>-->
                        <!--                        </div>-->
                        <!--                        <script type="text/javascript">-->
                        <!--                            $(function () {-->
                        <!--                                var testView = editormd.markdownToHTML("article-view", {-->
                        <!--                                    // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text-->
                        <!--                                    htmlDecode: true,  // Enable / disable HTML tag encode.-->
                        <!--                                    htmlDecode: "style,script,iframe"  // Note: If enabled, you should filter some dangerous HTML tags for website security.-->
                        <!--                                });-->
                        <!--                            });-->
                        <!--                        </script>-->
                        <div class="read-all">
                            <a th:href="@{'/article/'+${article.getId()}}" target="_blank"
                               style="font-size: 15px; color: #7f7f7f">阅读全文
                                <i class="am-icon-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </article>
                <hr class="am-article-divider blog-hr" style="margin: 10px 0;">
                <div>
                    <span th:each="tag:${tagDTO.getArticleTags(article)}">
                        <i class="am-icon-tag am-btn am-btn-primary am-round am-btn-xs">
                            <a th:text="${tag}" th:href="@{'/tags?tag='+${tag}}" style="color: white;"></a>
                        </i>
                    </span>
                </div>
            </div>
        </div>
        <div>
        </div>
        <ul class="am-pagination am-pagination-centered">
            <li><a th:if="${paginationDTO.getPage()!=1}" th:href="@{/(page=${paginationDTO.getPage() - 1})}">上一页</a>
            </li>
            <li th:each="page:${paginationDTO.getPages()}"
                th:class="${paginationDTO.getPage()==page}?'am-active':''">
                <a th:href="@{/(page=${page})}" th:text="${page}"></a>
            </li>
            <li><a th:if="${paginationDTO.getPage()!=paginationDTO.getTotalPage()}"
                   th:href="@{/(page=${paginationDTO.getPage()+1})}">下一页
            </a></li>
        </ul>
    </div>
    <div class="col-md-3 blog-sidebar">
        <div class="am-panel-group">
            <section class="am-panel am-panel-default">
                <div class="am-panel-hd">热门文章</div>
                <ul class="am-list blog-list" th:each="hotArticle:${hotArticles}">
                    <li><a th:href="@{'/article/'+${hotArticle.getId()}}" th:text="${hotArticle.getArticleTitle()}"></a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
<footer class="blog-footer">
    <p>Wangjh Blog<br/>
        <small>© Copyright Wangjh</small>
    </p>
</footer>
<script src="/js/zepto.min.js"></script>
<script src="/js/amazeui.min.js"></script>
</body>
</html>