<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <div th:insert="~{navigation::head}"></div>
</head>
<body>
<div th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--        <link rel="icon" type="image/png" href="/i/favicon.png">-->
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/css/blog.css">
    <style>
        @media only screen and (min-width: 1200px) {
            .blog-g-fixed {
                max-width: 1200px;
            }
        }

        @media only screen and (min-width: 641px) {
            .blog-sidebar {
                font-size: 1.4rem;
            }
        }

        .blog-main {
            padding: 20px 0;
        }

        .blog-title {
            margin: 10px 0 20px 0;
        }

        .blog-meta {
            font-size: 14px;
            margin: 10px 0 20px 0;
            color: #222;
        }

        .blog-meta a {
            color: #27ae60;
        }

        .blog-pagination a {
            font-size: 1.4rem;
        }

        .blog-team li {
            padding: 4px;
        }

        .blog-team img {
            margin-bottom: 0;
        }

        .blog-footer {
            padding: 10px 0;
            text-align: center;
        }

        .font-color {
            color: white;
        }
    </style>
</div>
<div th:fragment="navition">
    <header class="am-topbar">
        <h1 class="am-topbar-brand">
            <a href="/">Blog</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li th:class="${#httpServletRequest.getRequestURI()=='/'}?'am-active':''"><a href="/">首页</a></li>
                <li
                        th:class="${#httpServletRequest.getRequestURI()=='/categories'}?'am-active':''"><a
                        href="/categories">分类</a></li>
                <li
                        th:class="${#httpServletRequest.getRequestURI()=='/tags'}?'am-active':''"><a
                        href="/tags">标签</a></li>
                <!--                <li class="am-dropdown" data-am-dropdown>-->
                <!--                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">-->
                <!--                        下拉 <span class="am-icon-caret-down"></span>-->
                <!--                    </a>-->
                <!--                    <ul class="am-dropdown-content">-->
                <!--                        <li class="am-dropdown-header">标题</li>-->
                <!--                        <li><a href="#">1. 去月球</a></li>-->
                <!--                        <li class="am-active"><a href="#">2. 去火星</a></li>-->
                <!--                        <li><a href="#">3. 还是回地球</a></li>-->
                <!--                        <li class="am-disabled"><a href="#">4. 下地狱</a></li>-->
                <!--                        <li class="am-divider"></li>-->
                <!--                        <li><a href="#">5. 桥头一回首</a></li>-->
                <!--                    </ul>-->
                <!--                </li>-->
            </ul>

            <!--            <form class="am-topbar-form am-topbar-left am-form-inline" role="search">-->
            <!--                <div class="am-form-group">-->
            <!--                    <input type="text" class="am-form-field am-input-sm" placeholder="搜索">-->
            <!--                </div>-->
            <!--            </form>-->

            <div class="am-topbar-right">
                <a href="/publish" class="am-btn am-btn-link am-btn-sm" style="color:#666666;font-size:
                 16px;margin-top: 3px;" target="_blank">写博客</a>
                <span th:if="${session.user == null}">
                    <a href="/login" class="am-btn am-btn-primary am-topbar-btn am-btn-sm" style="color: white;">登录</a>
                    <a href="/register" class="am-btn am-btn-success am-topbar-btn am-btn-sm"
                       style="color: white;">注册</a>
                </span>
                <div class="am-dropdown" data-am-dropdown th:if="${session.user != null}">
                    <a href="/message" class="am-btn am-btn-link am-topbar-btn am-btn-sm" style="color:
                        #666666;font-size:16px;margin-top: 3px;">消息<span
                            class="am-badge am-badge-danger" th:if="${session.messageCount!=0}"
                            th:text="${session.messageCount}"></span>
                    </a>
                    <button class="am-btn am-btn-primary am-dropdown-toggle am-topbar-btn am-btn-sm"
                            data-am-dropdown-toggle th:text="${session.user.getUsername()}">
                        <span class="am-icon-caret-down"></span>
                    </button>
                    <ul class="am-dropdown-content">
                        <li><a href="/admin" target="_blank">个人中心</a></li>
                        <li class="am-divider"></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>
<div th:fragment="userCard">
    <div class="col-md-2 blog-sidebar" th:if="${session.user!=null}" style="margin: 30px;">
        <div class="am-panel am-panel-default" style="border-radius: 2em;-webkit-box-shadow: 3px 3px 6px #666;
    -moz-box-shadow: 3px 3px 6px #666;box-shadow: 3px 3px 6px #666;height: 360px">
            <div>
                <img class="am-img-circle" style="height: 150px;margin: 10px 10px 20px 20px;"
                     th:src="${session.user.getAvatarImgUrl()}">
            </div>
            <div class="am-u-sm-7" style="padding: 0 20px 0 0;">
                <div class="img-words" style="text-align: center">
                    <h1 id="name" style="text-align: center" th:text="${session.user.getUsername()}"></h1>
                    <p style="font-size: 14px;margin-top: 5px;color: #9a9ea3;"><i class="am-icon-map-marker"></i>
                        <span th:text="${session.user.getLocation()}"></span>
                    </p>
                    <small style="font-size: 13px;color: #808080ad; margin-left: 20px"
                           th:text="${session.user.getPersonalBrief()}">
                    </small>
                </div>
            </div>
            <div style="text-align: center;font-size: 15px">
                <div class="col-sm-6" style="border-top:1px solid #CCD0D5;border-bottom:1px solid #CCD0D5;border-right:
                     1px solid #CCD0D5">
                    <div th:text="${session.articlesCount}"></div>
                    <span>文章</span>
                </div>
                <div class="col-sm-6" style="border-top:1px solid #CCD0D5;border-bottom:1px solid #CCD0D5">
                    <div th:text="${session.tagsCount}"></div>
                    <span>标签</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>